html
  head
    meta(charset='utf-8')
    link(rel="stylesheet" type="text/css" href="../style.css")
    title='ToDOAPP'
  body
    div
    div#app
    script(type="text/javascript" src='../dist/bundle.js')
